* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #292c30;
    color: #333;
    font-family: "open Sans";
    font-size: 12px;
    height: 100%;
    overflow: hidden;
}

.clearfix {
    display: block;
}

    .clearfix:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }

.wrapper {
    height: 100%;
    overflow: hidden;
    padding: 15px;
}

.breadcrm {
    float: left;
    padding: 5px;
}

    .breadcrm li {
        display: inline-block;
        float: left;
        padding: 3px 0px;
    }

        .breadcrm li:not(:last-child)::after {
            content: ">";
            color: #68adfb;
            font-size: 18px;
            margin: 0px 10px;
        }

        .breadcrm li a {
            color: #3cbcf9;
            font-size: 18px;
            text-decoration: none;
        }

        .breadcrm li:last-child a {
            color: #ccc;
        }

.item-count {
    color: #777777;
    float: right;
    font-size: 24px;
}

.data-table {
    margin: 20px 0px;
}

    .data-table > table {
        width: 100%;
        border-collapse: collapse;
    }

        .data-table > table tr td:first-child {
        display: none
            } 

        .data-table > table tr th {
            /* border-bottom:1px solid #656565; */
            color: #3cbcf9;
            font-size: 11px;
            font-weight: normal;
            padding: 10px;
            text-align: left;
            text-transform: uppercase;
        }

            .data-table > table tr th a {
                color: #3cbcf9;
                text-decoration: none;
            }

        .data-table > table tr td {
            /* border-bottom:1px solid #383838; */
            color: #777777;
            font-size: 14px;
            font-weight: normal;
            padding: 10px;
            text-align: left;
            vertical-align: top;
        }

            .data-table > table tr td a {
                color: #ccc;
                text-decoration: none;
            }

            .data-table > table tr td:first-child {
                color: #cccccc;
            }

    .data-table i {
        background: url(/web/content/image.png) no-repeat;
        display: inline-block;
    }

        .data-table i.file-type {
            height: 15px;
            width: 20px;
            margin-right: 5px;
        }

            .data-table i.file-type.folder {
                background-position: 0 0;
            }


         .data-table th .sort {
            height: 5px;
            width: 10px;
            margin-left: 5px;
        }

         .data-table th .asc {
                background-position: 2px -21px;
            }

            .data-table th .desc {
                background-position: -10px -21px;
            }
